.field.bgs {
  --cs-color-base: var(--bgs-color-base);
  --cs-color-font: var(--bgs-color-font);
  --cs-color-background: var(--bgs-color-background);
  --cs-color-background-accent: var(--bgs-color-background-accent);
}
.field.cs70 {
  --cs-color-base: var(--cs70-color-base);
  --cs-color-font: var(--cs70-color-font);
  --cs-color-background: var(--cs70-color-background);
  --cs-color-background-accent: var(--cs70-color-background-accent);
}
.field.evrs {
  --hs-color-base: var(--evrs-color-base);
  --hs-color-font: var(--evrs-color-font);
  --hs-color-background: var(--evrs-color-background);
  --hs-color-background-accent: var(--evrs-color-background-accent);
}
.field.balt {
  --hs-color-base: var(--balt-color-base);
  --hs-color-font: var(--balt-color-font);
  --hs-color-background: var(--balt-color-background);
  --hs-color-background-accent: var(--balt-color-background-accent);
}
.field.geo {
  --hs-color-base: var(--geo-color-base);
  --hs-color-font: var(--geo-color-font);
  --hs-color-background: var(--geo-color-background);
  --hs-color-background-accent: var(--geo-color-background-accent);
}

.field {
  text-align: center;
  margin-right: 0em;
  margin-bottom: 0.2em;
  color: #a3a3a3;
  caret-color: black;
  /* border: 1px solid black; */
}

.field.mode-space::before {
  content: "";
}

.field.header {
  margin-right: 0.3rem;
  padding: 0.1rem 0.3rem;
  font-weight: bold;
  border-radius: 3px;
}

.field:nth-child(1) {
  color: var(--app-color-base);
}

.field.field:nth-child(1).header {
  border: 1px solid var(--app-color-base);
}

.field:nth-child(2),
.field:nth-child(3) {
  color: var(--cs-color-base);
  color: var(--cs-color-font);
}

.field.field:nth-child(2).header,
.field.field:nth-child(3).header {
  border: 1px solid var(--cs-color-base);
  border: 1px solid var(--cs-color-font);
}

.field:nth-child(4) {
  color: var(--hs-color-base);
  color: var(--hs-color-font);
}

.field.field:nth-child(4).header {
  border: 1px solid var(--hs-color-base);
  border: 1px solid var(--hs-color-font);
}

.field:nth-child(5) {
  color: #7a7a7a;
}

.field.field:nth-child(5).header {
  border: 1px solid #7a7a7a;
}

.field::after {
  content: "\200b";
  width: 0px;
}

/* Mode Tab */
.field.mode-tab {
  margin-right: 0.2rem;
}

.field.mode-tab:nth-child(1) {
  flex: 0 0 4.31em;
  flex: 0 0 1.9em;
}

.field.mode-tab:nth-child(2),
.field.mode-tab:nth-child(3) {
  flex: 0 0 6.61em;
  flex: 0 0 6em;
}

.field.mode-tab:nth-child(4) {
  flex: 0 0 4.31em;
}

.field.mode-tab:nth-child(5) {
  flex: 0 0 4.31em;
}

/* Mode Space */
.field.mode-space {
  margin-right: 0.25rem;
}

/* Mode | */
.field.mode-line:before {
  content: "|";
}

.field.mode-line:first-child::before {
  content: "";
}

/* Mode Comma */
.field.mode-comma:before {
  content: ",";
}

.field.mode-comma:first-child::before {
  content: "";
}