.nivigation {
  overflow: hidden;

  text-align: center;
}

.nivigation ul {
  list-style: none;

  padding: 0px;

  display: flex;
  align-items: flex-end;
}

.nivigation li {
  margin: 0.1em;
  border: 1px solid var(--app-color-base);
  background-color: var(--app-color-background);
  color: var(--app-color-base);
  height: 3.7em;
}

.nivigation > ul > li > button {
  width: 100%;
  height: 100%;
  background-color: inherit;
  color: inherit;
  border: none;
}

.nivigation > ul > li.active {
  height: 4em;
  background-color: var(--app-color-background-accent);
}

.nivigation > ul > li.active > button {
  background-color: inherit;
}

.data-bar {
  margin: 0px;
  padding: 0px;
}

.data-bar > div {
  width: 50%;
  height: 0.3em;
  display: inline-block;

}

.data-bar > div.bgs {
  background-color: var(--bgs-color-base);
}

.data-bar > div.cs70 {
  background-color: var(--cs70-color-base);
}

.data-bar > div.evrs {
  background-color: var(--evrs-color-base);
}

.data-bar > div.balt {
  background-color: var(--balt-color-base);
}

.data-bar > div.geo {
  background-color: var(--geo-color-base);
}