.nivigation {
  overflow: hidden;

  text-align: center;
}

.nivigation ul {
  list-style: none;

  padding: 0px;

  display: flex;
  align-items: bottom;
}

.nivigation li {
  border: 1px solid black;
  margin: 0.1em;
}

.nivigation li.active {
  border: 1px solid black;
  height: 7em;
}