.select-box.bgs {
  --selected-color-base: var(--bgs-color-base);
  --selected-color-background: var(--bgs-color-background);
  --selected-color-background-accent: var(--bgs-color-background-accent);
}
.select-box.cs70 {
  --selected-color-base: var(--cs70-color-base);
  --selected-color-background: var(--cs70-color-background);
  --selected-color-background-accent: var(--cs70-color-background-accent);
}
.select-box.evrs {
  --selected-color-base: var(--evrs-color-base);
  --selected-color-background: var(--evrs-color-background);
  --selected-color-background-accent: var(--evrs-color-background-accent);
}
.select-box.balt {
  --selected-color-base: var(--balt-color-base);
  --selected-color-background: var(--balt-color-background);
  --selected-color-background-accent: var(--balt-color-background-accent);
}
.select-box.geo {
  --selected-color-base: var(--geo-color-base);
  --selected-color-background: var(--geo-color-background);
  --selected-color-background-accent: var(--geo-color-background-accent);
}

.select-box {
  position: relative;

  display: flex;
  flex-direction: column;
}

.select-box.close-down > div.eye-candy {
  display: none;
}

ul.categories {
  list-style: none;

  padding: 0px;
  margin: 0px;

  display: flex;
  flex-direction: column;
}

ul.categories > li {
  height: 3rem;
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
}

ul.categories > li.selected-category {
  background-color: var(--selected-color-background-accent);
}

ul.categories > li > button {
  width: 100%;
  height: 100%;

  background-color: #ffffff;
  background-color: inherit;
  color: inherit;
  border: none;
  border-radius: inherit;
}

li.bgs {
  color: var(--bgs-color-base);
}
li.cs70 {
  color: var(--cs70-color-base);
}
li.evrs {
  color: var(--evrs-color-base);
}
li.balt {
  color: var(--balt-color-base);
}
li.geo {
  color: var(--geo-color-base);
}

fieldset.variants {
  padding: 0;
  margin-top: 0.8rem;
  border: none;
  position: relative;
}

fieldset.variants legend {
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 5;
  top: -0.6rem;
  left: 0.2rem;
  color: var(--selected-color-background-accent);
  background-image: linear-gradient(to top right, var(--selected-color-background), var(--bgs-color-background));
}

.select-box.bgs > fieldset.variants > legend {
  text-align: right;
  right: 0.2rem;
  left: unset;
  background-image: linear-gradient(to top, var(--selected-color-background) 50%, var(--cs70-color-background));
}

ul.variants {
  list-style: none;
  padding: 0px;
  margin: 0px;

  display: flex;
  justify-content: space-evenly;

  position: relative;

  padding-top: 1em;
  padding-bottom: 1em;

  background-color: var(--selected-color-background);
  border-radius: 1rem;
}

ul.variants > li {
  color: var(--selected-color-base);
  border-radius: 1rem;
}

ul.variants > li > button {
  padding: 0.5rem 1rem;
  width: 100%;
  height: 100%;
  background-color: inherit;
  color: var(--selected-color-base);
  border: none;
}

ul.variants > li.selected-variant > button {
  background-color: var(--selected-color-background-accent);
  border-radius: 1rem;
}
