.widget-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* z-index: -5; */

  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;

  border: 1px solid var(--app-color-base);
  border: none;
  background: radial-gradient(
      circle 70vw at 1.5rem 80%,
      var(--bgs-color-background),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
      circle 70vw at calc(100% - 1.5rem) 80%,
      var(--cs70-color-background),
      rgba(0, 0, 0, 0)
    ),
    var(--app-color-background);
  background: var(--app-color-background);
  border-radius: 2rem;
  padding: 1.5rem;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}

.expand {
  flex-grow: 1;
}
