/*
Color profile
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  --app-color-base: #e04609;
  --app-color-base: #1679ca;
  --app-color-base: #1762a0;
  --app-color-background: #edf5fd;
  --app-color-background-accent: #b6d6f7;

  --bgs-color-base: #e0a800;
  --bgs-color-background: #fff5d6;
  --bgs-color-background-accent: #ffe085;

  --cs70-color-base: #a800e0;
  --cs70-color-background: #faebff;
  --cs70-color-background-accent: #ebadff;

  --evrs-color-base: #e0a800;
  --evrs-color-background: #fffaeb;
  --evrs-color-background-accent: #ffebad;

  --balt-color-base: #a800e0;
  --balt-color-background: #faebff;
  --balt-color-background-accent: #ebadff;

  --geo-color-base: #00a300;
  --geo-color-background: #ebffeb;
  --geo-color-background-accent: #adffad;
}

body {
  font-family: "Arial", "Arial", Arial, sans-serif;
  font-style: italic;

  /* background-color: var(--app-color-background); */
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
