/*
Color profile
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  --app-color-base: #1679ca;
  --app-color-background: #daebfb;
  --app-color-base-background: #7ebdf1;
  --app-color-base-background: #ffffff;

  --bgs-color-base: #e0a800;
  --bgs-color-background: #fffaeb;

  --old-color-base: #a800e0;
  --old-color-background: #faebff;

  --geo-color-base: #00a300;
  --geo-color-background: #ebffeb;
}

body {
  background-color: var(--app-color-base-background);
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
