/*
Color profile
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  --desktop-cutoff: 1024px;

  --app-color-base: #444;
  --app-color-background: #E3E3E5;
  --app-color-background-accent: #cdcdd1;

  --bgs-color-base: #ffd06a;
  --bgs-color-font: #996900;
  --bgs-color-background: rgba(255, 247, 230, 0.3);
  --bgs-color-background-accent: #fff;

  --cs70-color-base: #ff685d;
  --cs70-color-font: #990a00;
  --cs70-color-background: rgba(255, 231, 230, 0.4);
  --cs70-color-background-accent: #fff;

  --evrs-color-base: #ffd06a;
  --evrs-color-font: #996900;
  --evrs-color-background: rgba(255, 247, 230, 0.3);
  --evrs-color-background-accent: #fff;

  --balt-color-base: #ff685d;
  --balt-color-font: #990a00;
  --balt-color-background: rgba(255, 231, 230, 0.4);
  --balt-color-background-accent: #fff;

  --geo-color-base: #78c08f;
  --geo-color-font: #316842;
  --geo-color-background: rgba(238, 247, 241, 0.3);
  --geo-color-background-accent: #fff;
}

body {
  font-family: "Arial", "Arial", Arial, sans-serif;
  font-style: italic;

  /* background-color: var(--app-color-background); */
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
