.main {
  max-width: 1100px;

  flex-grow: 1;

  display: grid;
  grid-template-columns: 4fr 4fr 1fr 4fr 4fr;
  grid-template-rows: min-content auto;
  grid-template-areas:
    "pick1 pick2 rev pick3 pick4"
    "input input transform output output";
  gap: 0px;

  text-align: center;
}

.main > div {
  display: flex;
}

.xy-in {
  grid-area: pick1;
}

.h-in {
  grid-area: pick2;
}

.reverse-systems {
  grid-area: rev;
}

.xy-out {
  grid-area: pick3;
}

.h-out {
  grid-area: pick4;
}

.textarea-in {
  grid-area: input;
  display: flex;
}

.transform-btn {
  grid-area: transform;
  align-self: center;
}

.textarea-out {
  grid-area: output;
  display: flex;
}

.transform-btn button {
  display: inline-block;

  width: 100%;
  height: 3rem;

  border: 1px solid var(--app-color-base);
  border-radius: 0.5rem;

  background-color: var(--app-color-background);

  cursor: pointer;
}

.transform-btn button:hover {
  background-color: var(--app-color-background-accent);
}

.reverse-systems button {
  display: none;
}
