.select-box.bgs {
  --selected-color-base: var(--bgs-color-base);
  --selected-color-background: var(--bgs-color-background);
  --selected-color-background-accent: var(--bgs-color-background-accent);
}
.select-box.cs70 {
  --selected-color-base: var(--cs70-color-base);
  --selected-color-background: var(--cs70-color-background);
  --selected-color-background-accent: var(--cs70-color-background-accent);
}
.select-box.evrs {
  --selected-color-base: var(--evrs-color-base);
  --selected-color-background: var(--evrs-color-background);
  --selected-color-background-accent: var(--evrs-color-background-accent);
}
.select-box.balt {
  --selected-color-base: var(--balt-color-base);
  --selected-color-background: var(--balt-color-background);
  --selected-color-background-accent: var(--balt-color-background-accent);
}
.select-box.geo {
  --selected-color-base: var(--geo-color-base);
  --selected-color-background: var(--geo-color-background);
  --selected-color-background-accent: var(--geo-color-background);
}

.select-box {
  position: relative;

  display: flex;
  flex-direction: column;
}

.select-box.close-down > div.eye-candy {
  display: none;
}

ul.categories {
  list-style: none;

  padding: 0px;
  margin: 0px;

  display: flex;
  flex-direction: column;
}

ul.categories > li {
  color: var(--app-color-base);
  color: #000;
  height: 3rem;
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  /* text-decoration: underline var(--selected-color-base); */
}

ul.categories > li.selected-category {
  background-color: var(--app-color-background-accent);
  background-color: var(--selected-color-base);
}

ul.categories > li > button {
  width: 100%;
  height: 100%;

  background-color: #ffffff;
  background-color: inherit;
  color: inherit;
  border: none;
  border-radius: inherit;
}

li.bgs {
  color: var(--bgs-color-base);
}
li.cs70 {
  color: var(--cs70-color-base);
}
li.evrs {
  color: var(--evrs-color-base);
}
li.balt {
  color: var(--balt-color-base);
}
li.geo {
  color: var(--geo-color-base);
}

div.variants {
  padding-top: 0.2rem;
  padding-bottom: 1rem;

  background-color: var(--selected-color-background);
  background-color: var(--app-color-background);
  border: 1px solid var(--app-color-base);
  border-radius: 1rem;
}

div.variants h3 {
  font-size: 0.8rem;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  color: var(--app-color-base);
}

ul.variants {
  list-style: none;
  padding: 0px;
  margin: 0px;

  display: flex;
  justify-content: space-evenly;

  position: relative;
}

ul.variants > li {
  color: var(--app-color-base);
  background-color: var(--app-color-background-accent);
  border-radius: 1rem;
}

ul.variants > li > button {
  padding: 0.5rem 1rem;
  width: 100%;
  height: 100%;
  background-color: inherit;
  color: inherit;
  border: none;
  border-radius: inherit;
}

ul.variants > li.selected-variant > button {
  background-color: var(--selected-color-base);
  border-radius: 1rem;
}

@media (min-width: 1024px) {
  ul.categories > li {
    height: 2rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  ul.categories > li > button {
    cursor: inherit;
  }

  ul.categories > li > button:hover {
    background-color: var(--app-color-background-accent);
  }

  ul.categories > li.selected-category > button:hover {
    background-color: var(--selected-color-background);
    filter: brightness(100%);
  }

  div.variants {
    padding-top: 0.2rem;
    border-radius: 0.5rem;
    border: 2px solid var(--app-color-background-accent);
  }

  div.variants h3 {
    margin-bottom: 0.5rem;
    padding: 0;
  }

  ul.variants > li {
    border-radius: 0.2rem;
  }

  ul.variants > li > button {
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
  }

  ul.variants > li > button:hover {
    background-color: var(--app-color-background-accent);
    filter: brightness(90%);
  }

  ul.variants > li.selected-variant > button {
    border-radius: 0.2rem;
  }

  ul.variants > li.selected-variant > button:hover {
    background-color: var(--selected-color-background);
    /* filter: brightness(90%); */
  }
}
